cor-1 {
    color: #111111;
}
cor-2 {
    color: #2f2f2f;
}
cor-3{
    color: #f6f6f6;
}

cor-4{
    color: #ffcb74;
}

*{
    margin: 0 ;
}
.nav-bar {
    background-color: #111111;
    padding: 10px;
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6f6f6;
    font-size: 12px;
    position: fixed;
    width: 100vw;
}

.link{
    text-decoration: none;
}

.links{
    flex-grow: 1;
} 

.links a {
    padding: 0 20px;
    color: #f6f6f6;
}

.inicio {
    background-color: #2f2f2f;
    padding: 70px 230px;
    background-image: url(https://media0.giphy.com/media/YpMYUdwJvFkkd5lL1q/giphy.gif?cid=ecf05e47dkqzn6vg8qj8u9mzfjp5y1cz74faf9nb9bk1rwzf&rid=giphy.gif&ct=g);
}

.principal {
    padding: 130px 0;
    display: flex;
    justify-content: center;
}

.titulo-principal {
    padding-bottom: 2vh;
    font-size: 4.5vh;
}

.texto-principal {
    display: block;
    width: 600px;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6f6f6;
    padding: 50px 0;
}

.foto img {
    width: 40vh;
    height: 40vh;
    border-left:#f6f6f6 solid 5px;
    margin-left: 45px;
}

#projetos {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    align-items: center; 
}

.titulo-secundario {
    padding-bottom: 5px;
}

.texto-secundario {
    width: 600px;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:#2f2f2f;
    
    
    padding: 50px 0;
}

.img-projeto{
    height: 250px;
    padding: 0 10px;
}
.meus-stickers {
    padding: 40px 0 10px 0;
}
.stickers {
    height: 80px;
}

/* .dados-footer {
    display: flex;
    flex-direction: column;
    padding: 5vh 50vh;
    text-align: center;
    background-color: #2f2f2f;
    background-image: url(https://media3.giphy.com/media/l1Kdb9KNXjm6wpIbK/giphy.gif?cid=ecf05e474644urxo85x0zriq5utkoxrx0ljfdit8muu3k8ls&rid=giphy.gif&ct=g);
    color: black;
}

.contatos-footer {
    display: inline;
    justify-content: center;
    margin: 0 28px;
    text-decoration: none;
    padding: 1vh;
}

.box-footer{
    padding: 10px;
    text-align: center;
    justify-content: center;
}



.desenvolvedor-footer {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 70%;
}

.info {
    text-decoration: none;
    color: #111111;
    font-size: 130%;
    justify-content: center;
    text-align:left;
} */


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 2; }
    .div2 { grid-area: 1 / 2 / 3 / 3; }
    .div3 { grid-area: 1 / 3 / 3 / 4; }
    .div4 { grid-area: 3 / 1 / 4 / 4; }