:root{
    --1-color:#111111;
    --2-color:#f6f6f6;
    --3-color:#2f2f2f;
    --4-color:#ffcb74; 
    --font-family:Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0 ;
    box-sizing: border-box;
}

.nav-bar {
    background-color: var(--1-color);
    padding: 10px;
    display: flex;
    text-align: center;
    font-family: var(--font-family);
    color: #f6f6f6;
    font-size: 12px;
    position: fixed;
    width: 100vw;
}

.link{
    text-decoration: none;
}

.links{
    flex-grow: 1;
} 

.links a {
    padding: 0 20px;
    color: var(--2-color);
}

.inicio {
    background-color: var(--3-color);
    padding: 70px 230px;
    background-image: url(https://media0.giphy.com/media/YpMYUdwJvFkkd5lL1q/giphy.gif?cid=ecf05e47dkqzn6vg8qj8u9mzfjp5y1cz74faf9nb9bk1rwzf&rid=giphy.gif&ct=g);
}

.principal {
    padding: 130px 0;
    display: flex;
    justify-content: center;
}

.titulo-principal {
    padding-bottom: 2vh;
    font-size: 4.5vh;
}

.texto-principal {
    display: block;
    width: 600px;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--2-color);
    padding: 50px 0;
}

.foto img {
    width: 40vh;
    height: 40vh;
    border-left:var(--2-color) solid 5px;
    margin-left: 45px;
}

#projetos {
    background-color: var(--2-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    align-items: center; 
}

.titulo-secundario {
    padding-bottom: 5px;
}

.texto-secundario {
    width: 600px;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:var(--3-color);
    
    
    padding: 50px 0;
}

.img-projeto{
    height: 250px;
    padding: 0 10px;
}
.meus-stickers {
    padding: 40px 0 10px 0;
}
.stickers {
    height: 80px;
}
.footer{
    padding: 70px;
    background-image: url(https://media3.giphy.com/media/l1Kdb9KNXjm6wpIbK/giphy.gif?cid=ecf05e474644urxo85x0zriq5utkoxrx0ljfdit8muu3k8ls&rid=giphy.gif&ct=g);
}
.nav-link{
    text-decoration: none;
    color: var(--1-color);
    font-family: var(--font-family);
    font-size: large;
}
.nav{
    display: flex;
    justify-content: center;
    margin: 30px 0;   
}

.nav-item{
    padding:0 2vh;
    list-style-type: none;
}

.text-center{
    display: flex;
    justify-content: center;
}

