cor-1 {
    color: #111111;
}
cor-2 {
    color: #2f2f2f;
}
cor-3{
    color: #f6f6f6;
}

cor-4{
    color: #ffcb74;
}

*{
    margin: 0 auto;
}
.nav-bar {
    background-color: #111111;
    padding: 2vh;
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6f6f6;
    font-size: 2vh;
}

.link{
    text-decoration: none;
}

.links{
    flex-grow: 1;
} 

.links a {
    padding: 0 20px;
    color: #f6f6f6;
}

.inicio {
    background-color: #2f2f2f;
    display: block;
    padding: 7vh;
    background-image: url(https://media0.giphy.com/media/YpMYUdwJvFkkd5lL1q/giphy.gif?cid=ecf05e47dkqzn6vg8qj8u9mzfjp5y1cz74faf9nb9bk1rwzf&rid=giphy.gif&ct=g);
}

.titulo-principal {
    padding-bottom: 2vh;
    font-size: 4.5vh;
}

.texto-principal {
    display: block;
    width: 40vw;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f6f6f6;
    text-align: center;
    padding: 10vh 0;
}

.foto {
    text-align: center;
}

.foto img {
    border-radius: 50% !important;
    width: 50vh;
    height: 50vh;
    border:#f6f6f6 solid 0.5px;
}

#projetos {
    background-color: #f6f6f6;
}

.texto-secundario {
    display: block;
    width: 40vw;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#111111;
    text-align: center;
    padding: 10vh 0;
}


.tamanho-imagem {
    padding: 20vh 3vh;
    width: 16vw;
}

.dados-footer {
    display: block;
    padding: 5vh 50vh;
    text-align: center;
    background-color: #2f2f2f;
    background-image: url(https://media3.giphy.com/media/l1Kdb9KNXjm6wpIbK/giphy.gif?cid=ecf05e474644urxo85x0zriq5utkoxrx0ljfdit8muu3k8ls&rid=giphy.gif&ct=g);
    color: black;
}

.contatos-footer {
    display: inline-block;
    justify-content: center;
    margin: 0 28px;
    text-decoration: none;
    padding: 1vh;
}

.box-footer{
    padding: 10px;
}

.desenvolvedor-footer {
    text-align: center;
    padding-bottom: 3vh;
    font-size: 70%;
}

.info {
    text-decoration: none;
    color: #111111;
    font-size: 130%;
    justify-content: center;
    text-align:left;
}